/* app css stylesheet */

.header {
  text-align: center;
}

.global{
  text-align: center;
}

/* affichage des commandes */

.content {
  background: #34C924;
  color: #FFFFFF;
  display: inline-block;
  font-size: 30px;
  margin: 10px auto 10px auto;
  padding: 10px;
  width: 95%;
}

.border{
  border: 1px solid #000000;
}

.inline{
  display: inline-block;
}

.products{
  float: left;
  height: inherit;
  text-align: left;
  width: 70%;
}

.timer{
  height: inherit;
  /*line-height: 90px;*/
  width: 15%;
}

button{
  background: #808080;
  border: groove #000000;
  border-radius: 10px;
  float: right;
  height: inherit;
  line-height: 80px;
  margin: 5px 0 5px 0;
  width: 15%;
}

.product{
  margin: 5px auto 5px auto;
  width: 100px;
}

.product-info{
  text-align: center;
  font-weight: bold;
}

.green{
  background: #008000;
}

.orange{
  background: orange;
}

.red{
  background: #ff0000;
}

.test{
  float: right;
  color: white;
  font-size: 26px;
}