<button class="test" ng-click="orderService.insertOrder()">Add Command test</button>
<div class="content" ng-class="controlTime.checkOrderControlTimes(order)" ng-repeat="order in orderService.orders | orderBy:controlTime.getOrderDateUntilNowInMinutes:true">
    <div class="products">
        <div class="inline product" ng-repeat="product in order.value.products">
            <div class="product-info">
                {{product.name}}
            </div>
            <div class=" product-info">
                {{product.quantity}}
            </div>
        </div>
    </div>
    <div class="inline timer">
        <ordered-at order="order"></ordered-at>
        Table #{{order.value.tableNumber}}
    </div>
    <button class="inline" ng-click="orderService.updateStatusToReady(order)">
        Ready
    </button>
</div>
